alert_system/src/main/mule/alert_system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e89cb250-58ad-49be-9cff-00ed3832ffd3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c01f9c7b-6896-4c48-9684-e5a51d574cea" >
		<http:request-connection host="api.openweathermap.org" port="443" protocol="HTTPS"/>
	</http:request-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="c1f36a6f-617c-42c3-912f-4f5f4d0658e5" >
		<email:smtp-connection host="smtp.gmail.com" user="tejaskinge30@gmail.com" port="587" password="pvcmjpajxzyzvcrg">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="alert_systemFlow" doc:id="2b35febb-8898-46b9-8bd9-a415c0bfb258" >
		<http:listener doc:name="Listener" doc:id="5fc2783e-9765-42a3-a1c2-56f9e29edd31" config-ref="HTTP_Listener_config" path="/alert"/>
		<http:request method="GET" doc:name="Request" doc:id="4853edec-15fd-44e5-82a3-34ddeccd5374" config-ref="HTTP_Request_configuration" path="/data/2.5/weather">
			<http:query-params ><![CDATA[#[%dw 2.0
output application/java
---
{
	q: attributes.queryParams.city,
	appid: "8134cdc290fa604af59b525021db1c51",
	units: "metric"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="8f2af62e-980e-4b4c-8795-2308ec006ab6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var tempC = payload.main.temp
var condition = upper(payload.weather[0].main)
---
{
  alert: if (condition == "RAIN" or tempC > 35.0 or (condition == "CLEAR" and tempC > 37.0)) true else false,
  city: payload.name,
  condition: payload.weather[0].main,
  temperature: tempC as Number {format: "##.##"}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="City" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="1fcca543-3364-4453-82f2-ec83bbc643a6" >
			<when expression="#[payload.alert == true]">
				<email:send doc:name="Send" doc:id="53674f54-785c-4b52-84db-06572a930d19" config-ref="Email_SMTP" fromAddress="tejaskinge29@gmail.com" subject="#['Weather Alert at your city' ++ (payload.city default 'Unknown') ]">
					<email:to-addresses >
						<email:to-address value="tejaskinge29@gmail.com" />
					</email:to-addresses>
					<email:body contentType="text/plain">
						<email:content ><![CDATA[#[payload.city]]]></email:content>
					</email:body>
				</email:send>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="dcc2e9c8-5646-47fd-a2e9-90359d821e64" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="806a1112-e9f8-4ee4-a1cf-da18b926afbf" message='#["Weather checked for #[payload.city] - #[payload.condition], #[payload.temperature]°C"]'/>
	</flow>
</mule>
